<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Madlibs!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Fill in the form below to create your unique story!</h1>
    <form action="/FinalMadLib" method="post">
      <label for="name">Name</label>
      <input id="name" name="name" type="text">

      <label for="place">Proper Noun(place)</label>
      <input id="place" name="place" type="text">

      <label for="thing">noun</label>
      <input id="thing" name="thing" type="text">
      
      <label for="animal">type of animal</label>
      <input id="animal" name="animal" type="text">
      
      <label for="hobby">a hobby</label>
      <input id="hobby" name="hobby" type="text">
      
      <button type="submit">Go!</button>
    </form>
  </body>
</html>